@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Outfit', system-ui, sans-serif;
  }
}

/* Custom styles for Ant Design */
.ant-btn-primary {
  background-color: #4f46e5;
}

.ant-btn-primary:hover {
  background-color: #4338ca !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #4f46e5 !important;
}

.ant-tabs-ink-bar {
  background: #4f46e5 !important;
}
